<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="bovid.Properties.Settings.user_informationConnectionString"
            connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=|DataDirectory|\user_information.accdb"
            providerName="System.Data.OleDb" />
        <add name="bovid.Properties.Settings.user_informationConnectionString1"
            connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=D:\Documents\user_information.accdb"
            providerName="System.Data.OleDb" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>